[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
coverage = "*"
jupyterlab = "*"
descartes = "*"
matplotlib = "*"

[packages]
geopandas = "*"
us = "*"
click = "*"
census-map-downloader = "*"

[requires]
python_version = "3.7"
